*{
	box-sizing: border-box;
	margin: 2px;
	font-family: lato;
}

h1{
	font-size: 80px;
}

h3{
	font-size: 30px;

}

header{
	background-color: lightgray;
	flex-direction: row;
}

nav{
	background-color: pink;
	font-size: 20px; 
}

.trailer{
	box-sizing: inherit;
	position: relative;
}

.recaudacionContenido{
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.recaudacionDatos{
	display: block;
	height: auto;
}

.recaudacionFila{
	display: inline-flex;
	width: 150px;
	height: auto;
	padding-left: 20px;
}

.recaudacionFilarelative{
	display: inline;
	padding: 100px;
}

.disclaimer{
	display: inline-flex;
	padding-left: 20px;
	font-size: 12px;
}

.campanaBloque{
	display: flex;
	justify-content: center;
	
}

.campanaAtajos{
	display: block;
	top: 4rem;
	float: left;
	position: sticky !important;
}

.campanaContenido{
	display: inline-flex;
	margin-left: 30px;
}

.cabecera{
	align-content: center;
}

.cabeceras_secciones{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width:100%;
}

.introduccion{
	display: flex;
	align-content: center;
	background-image: url("https://picsum.photos/780/520");
}

.comentarios{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width:100%;
}

.comentariosBloque{
	width:500px;
	box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
	background-color: white;
	padding: 20px;
	margin: 15px;

}
