*{
	box-sizing: border-box;
	margin: 2px;
	font-family: lato;
}

h1{
	font-size: 80px;
}

header{
	background-color: lightgray;
	flex-direction: row;
}

nav{
	background-color: lightblue;
}

.cabecera{
	align-content: center;
}

.cabeceras_secciones{
	align-content: center;
	font-size: 30px;
}


.introduccion{
	display: flex;
	align-content: center;
	background-image: url("https://picsum.photos/780/520");
}